@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  line-height: 2rem;
}

ul {
  list-style-type: disc;
}

hr {
  @apply my-8;
}

/*js  */
.js-post h1 {
  @apply text-red-500 text-xl font-bold mb-6;
}

.js-post h2 {
  @apply text-red-400 text-lg  mb-4;
}

.js-post ul {
  @apply mb-4;
}

.js-post li {
  @apply mb-2;
}

/*  */
