@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  line-height: 1.8rem;
}

ul {
  list-style-type: square;
}

hr {
  @apply my-16 h-1 border-none bg-gray-500 rounded-lg;
}

.post img {
  @apply w-[32rem] h-96;
}

.post h1 {
  @apply text-rose-500 text-2xl font-bold mb-6;
}

.post h2 {
  @apply text-rose-400 text-xl  my-4;
}

.post ul {
  @apply my-2 sm:text-base text-sm;
}

.post li {
  @apply my-2;
}

.post code {
  @apply text-xs text-white;
}

strong {
  @apply text-orange-300 font-bold;
}

.post p {
  @apply mt-4;
}

.post pre {
  @apply p-2 rounded-lg my-4 shadow-black shadow-md bg-zinc-800 overflow-x-scroll;
}
