@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  line-height: 2rem;
}

ul {
  list-style-type: square;
}

hr {
  @apply my-16 h-1 border-none bg-gray-500 rounded-lg;
}

/*js  */
.post h1 {
  @apply text-rose-500 text-2xl font-bold mb-6;
}

.post h2 {
  @apply text-rose-400 text-xl  my-4;
}

.post ul {
  @apply my-2;
}

.post li {
  @apply my-2;
}

.post code {
  @apply text-xs text-gray-100;
}

strong {
  @apply text-orange-300 font-bold;
}

.post p {
  @apply mt-4;
}

.post pre {
  @apply border-[1.5px] px-2 rounded-md border-gray-700 my-4 shadow-gray-800 shadow-md;
}

/*  */
